<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brentpanther.cryptowidget" android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.software.app_widgets" />

    <application>

        <service android:name="com.brentpanther.cryptowidget.BackgroundService" />
        <receiver android:name="com.brentpanther.cryptowidget.PriceBroadcastReceiver" />

    </application>

</manifest>
